.quill {
  @apply h-[350px] w-full;
}

.ql-container {
  @apply font-['Noto_Sans_KR'] text-text-medium;
}

.ql-size-small {
  font-size: 0.75em;
}
.ql-size-large {
  font-size: 1.5em;
}
.ql-size-huge {
  font-size: 2.5em;
}
